{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Novo Post{% endblock%}

{% block body %}
    <h1>Escrevendo nova publicação</h1>
    {% include 'BloggerBlogBundle:Blog:form.html.twig' with { 'form': form } %}
{% endblock %}