@font-face {
  font-family: 'La Belle Aurore';
  font-style: normal;
  font-weight: 400;
  src: local('La Belle Aurore'), local('LaBelleAurore'), url(http://themes.googleusercontent.com/static/fonts/labelleaurore/v3/Irdbc4ASuUoWDjd_Wc3mdyPuxW3DwjEqq93dVR72jP4.woff) format('woff');
}
@font-face {
  font-family: 'Irish Grover';
  font-style: normal;
  font-weight: 400;
  src: local('Irish Grover'), local('IrishGrover'), url(http://themes.googleusercontent.com/static/fonts/irishgrover/v3/kUp7uUPooL-KsLGzeVJbBHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}